*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#blank{
    height: 300px;
}
#about{
    padding: 0 auto;
    clear: both;
    width: 100%;
    
    background-color: black;
}
#intro_category{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 1200px;
    height: 100vh;
    background-color: black;
}
#intro_category>h1{
    padding-top: 5vh;
    font-size: 20vh;

    text-align: left;
    font-style: italic;
}
#intro{
    margin-top: 5vh;
    background: linear-gradient(to right top, #116030, #99f88a);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 14vh;
    text-align: right;
}
#down{
    position: absolute;
    text-align: center;
    font-size: 20px;
    margin-top: 27vh;
    left: 525.5px;
    bottom: 60px;
    font-weight: bold;
}
@keyframes down_ani {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(0,10px);
    }
}
#intro_category>img{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 30px;
    left: 585px;
    bottom: 25px;
    animation: down_ani 0.5s infinite alternate;
}

#name_intro{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 800px;
    background-color: black;
}
#head{
    opacity: 0;
    transition: all 2s;
    transition-delay: 0.5s;
    padding-top: 110px;
    font-size: 80px;
    text-align: center;
}
#name{
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 180px; */
    list-style-type: none;
    width: 700px;
}
#name>li>h1{
    float: left;
    font-size: 130px;
    font-style: italic;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
#fullName{
    float: left;
    margin-top: 80px;
    font-size: 40px;
    color: mediumspringgreen;
    position: relative;
    /* display: block; */
    animation: fadeInRight 2s;

    /* font-style: italic; */
}


#introduction{
    float: right;
    font-size: 30px;
    margin-top: 80px;
    font-weight: bold;
}
#name>li{
    height: 130px;
    clear: left;
    /* border-bottom: solid 1px white; */
}
#mid{
    margin-left: 50px;
}

#work_intro{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 800px;
    background-color: black;
}
#work{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 180px; */
    list-style-type: none;
    width: 1200px;
}
#work_category{
    float: left;
    width: 380px;
    height: 440px;
    margin-left: 15px;
    background-color: rgb(55, 55, 55);
}
.study{
    transition-property: border-top-width;
    transition-duration: 0.5s;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: rgb(254,192,0);
}
.project{
    transition-property: border-top-width;
    transition-duration: 0.5s;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: rgb(48,203,130);
}
.eating{
    transition-property: border-top-width;
    transition-duration: 0.5s;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: rgb(58,155,255);
}
.study:hover{
    border-top-width: 260px;
}
.project:hover{
    border-top-width: 260px;
}
.eating:hover{
    border-top-width: 260px;
}
#top_work{
    color: rgb(142,142,142);
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}
#work_category>h1{
    font-size: 80px;
    margin-top: 20px;
    margin-left: 30px;
}
#fStudy{
    color: rgb(254,192,0);
}
#fProject{
    color: rgb(48,203,130);
}
#fEating{
    color: rgb(58,155,255);
}
#explain{
    font-size: 20px;
    margin: 30px;
    line-height: 30px;
    margin-top: 120px;
}


#members_category{
    margin: 0 auto;
    width : 1200px;
    height : 800px;
    margin-top: 100px;
    background-color: black;
    position: relative;

}
#detail{
    position: absolute;
    width: 1200px;
    height: 500px;
    background-color: white;
    top: 206px;
    border-radius: 50px;
    display: none;
}
#detail_jm{
    position: absolute;
    width: 1200px;
    height: 500px;
    background-color: white;
    top: 206px;
    border-radius: 50px;
    display: none;
}
#detail_js{
    position: absolute;
    width: 1200px;
    height: 500px;
    background-color: white;
    top: 206px;
    border-radius: 50px;
    display: none;
}
#profile{
    float: left;
    width: 600px;
    height: 500px;
    
    padding: 20px 60px;
    padding-right: 0px;
}
#profile>h2{
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 5px;
}
#profile_detail{
    height: 175px;
}
#profile_detail>img{
    width: 130px;
    float: left;
}
#profile_text{
    border-radius: 50px;
    background-color: white;
    float: left;
    margin-top: 5px;
    margin-left: 33px;
    width: 330px;
    height: 163px;
    box-shadow: 1px 1px 8px grey;
}
#profile_text>h3{
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
    margin-bottom: 8px;
}
#profile_text>p{
    color: gray;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}
#massage{
    margin-top: 10px;
    clear: left;
    color: black;
    width: 493px;
    height: 90px;
    background-color: rgb(0,161,255);
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 21px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 1px 8px grey;
}
#profile_site{
    margin-top: 20px;
    width: 493px;
    height: 110px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 1px 1px 8px grey;
    padding: 20px 50px;
}
#site_list{
    list-style-type: none;
}
#site_list>li>img{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#site_adress{
    float: left;
    color: black;
    font-size: 20px;
    border-left: 1px solid gray;
    padding-left: 10px;
}
#site_list>li{
    margin-bottom: 3px;
    clear: left;
    height: 24px;
}

#tech{
    float: left;
    width: 600px;
    height: 500px;

    padding: 20px 60px;
    padding-right: 0px;
}
#tech>h2{
    float: left;
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 193px;
}
#close_button{
    margin-left: 180px;
    float: left;
    border: none;
    background-color: white;
}
#close{
    width: 40px;
}
#role{
    clear: left;
    margin-top: 10px;
    width: 480px;
    height: 80px;
    box-shadow: 1px 1px 8px grey;
    border-radius: 35px;
}
#role_tag{
    float: left;
    margin-top: 17.5px;
    margin-left: 16px;
    display: block;
    text-align: center;
    background-color: rgb(0,161,255);
    width: 80px;
    height: 45px;
    border-radius: 20px;
    padding-top: 3px;
}
#role_text{
    float: left;
    color: black;

    margin-top: 20px;
    margin-left: 25px;
    font-size: 16px;
    text-align: center;
}

#techStack{
    float: left;
    margin-top: 20px;
    width: 230px;
    height: 300px;
    box-shadow: 1px 1px 8px grey;
    border-radius: 50px;
    padding-top: 12px;
}
#techStack>img{
    margin-left: 25px;
    margin-top: 25px;
    width: 180px;
}
#experience{
    margin-left: 20px;
    float: left;
    margin-top: 20px;
    width: 230px;
    height: 300px;
    box-shadow: 1px 1px 8px grey;
    border-radius: 50px;
    padding-top: 12px;
}
#ex_list{
    margin-top: 30px;
    margin-left: 40px;
}
#ex_elem>p{
    font-size: 20px;
    color: black;
    margin-top: 30px;
}
#detail_head{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 30px;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 1.8px;
}
.tech{
    background-color: rgb(96,217,57);
    width: 90px;
}
.ex{
    background-color: rgb(255,100,78);
    width: 160px;
}

#members_category>h2{
    text-align: center;
    font-size: 40px;
    
}
#members{
    text-align: center;
    /* border-top: 1px solid #fff; */
}
#people{
    width: 130px;
}
#members > li{
    display : inline-block;
    margin : 40px;
}
#members > li > div{
    height : 250px;
}
#members > li > div>img{
    width: 170px;
}
#members h3{
    margin-top: 0;
    font-size: 40px;
}
#level{
    color: white !important;
    font-size: 25px !important;
    margin-bottom: 10px;
    font-weight: 500;
}
#members > li > p{
    font-size: 18px;
    color: rgb(154, 154, 154);
}
#members>li>h3:hover .caption{
    color: #007AFF !important;
}
#more{
    width: 80px;
    height: 30px;
    background-color: #007AFF;
    border: none;
    margin-top: 10px;
    border-radius: 15px;
}
#more>p{
    margin-top: 2px;
    display: block;
    font-size: 15px;
    font-weight: bold;
}


#method_category{
    text-align: center;
    height: 800px;
}
#method_category>h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#study{
    font-size: 18px;
    line-height: 30px;
    padding: 12px;
    border: solid 1px #007AFF;
    border-radius: 40px;
    box-sizing: border-box;
    width: 900px;
    background-color: #007AFF;
    margin-left: auto;
    margin-right: auto;
}
