*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    background-color: black;
}
#logo{
    float: left;
    width: 250px;
    height: 100px;
    background-color: black;
}
nav{
    float: right;
    width: 500px;
    height: 100px;
    background-color: black;
}
#main{
    padding: 0 auto;
    padding-top: 100px;
    clear: both;
    width: 100%;
    height: 100vh;
    background-color: black;
    
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(37, 36, 36);

}
/* 레이아웃 */
p, h2, h1, h3,a{
    font-family: 'Spoqa Han Sans';
    color: white;
}

#logo>a{
    width: 250px;
    height: 100px;
}
#logo>a>img{
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}
#logo>a>h1{
    float: left;
    margin: 0px;
    line-height: 80%;
    padding-top: 38px;
    padding-left: 10px;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
}

#topMenu{
    height: 100px;
    padding-top: 33px;
    padding-bottom: 33px;
    list-style-type: none;
}
#topMenu>li{
    float: left;
}
#topMenu>li>a{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 1.7em;
    display: block;
    margin-left: 60px;
    color: white;
    text-decoration: none;
}

#footer_info>ul{
    list-style-type: none;
}
#footer_info>ul>li{
    margin-top: 36px;
    border-right: solid 1px white;
    float: left;
    padding-right: 10px;
    margin-left: 10px;
}
#footer_li{
    margin-left: 50px !important;
}
#footer_info>ul>li>p{
    font-size: 12px;
}
footer>p{
    clear: left;
    font-size: 11px;
    margin: 0;
    margin-left: 80px;
    color: gray;
}

/* 헤더 푸터 설정*/
#main_ko{
    margin-top: 80px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    color: rgb(139, 137, 137);
}
#main_en{
    text-align: center;
    font-size: 5em;
    font-weight: bold;
}
#main>img{
    width: 800px;
    display: block;
    margin: auto;
    padding-top: 30px;
    /* position: absolute; */
    bottom: 0;
}
#about{
    width: 100%;
    height: 900px;
    background-color:darkblue;
}